.table-scroll {
    overflow-y: auto;
    height:$m-panel;
    padding: 0, .1rem !important;
    
}

.table-bordered > thead > tr > th {
    padding-left: .5rem !important;
    //text-align: center;
}

.table-bordered > tbody > tr > td {
    padding-left: .5rem;
    line-height: 2.4rem;
}
.table-scroll .btn{
    float: right;
    background: none;
    cursor: default;
    border-radius: 15%;
    outline:0;
}

.table-scroll .btn:hover {
    background-color: $button-blue;
    border: 1px solid $dark-gray;
    color: white;
    border-color: white;
  }