<style type="text/css">
    .test-log {
        background-color: #F5F5F5;
        border: lightgrey solid 3px;
        height: 60px;
        margin: 15px 0;
        padding: 10px;
        overflow: auto;
    }

    .test-log-success {
        background-color: #F2FFEE;
        border: #A5DDAD solid 3px;
    }

    .test-log-failure {
        background-color: #FFF6FF;
        border: #FDA8A8 solid 3px;
    }

    .test-results-list {
        padding-right: 50px;
        padding-bottom: 5px;
    }

</style>
<div>
    <button class="snd-test-run-btn" type="button">Run tests</button>
    <!--<button class="snd-test-clean-init-btn" type="button">Clean Init Data</button>-->
    <button class="snd-test-clean-test-btn" type="button">Clean Test Data</button>
    <!--<button class="snd-test-unregister-test-triggers-btn" type="button">Unregister Test Trigger Factory</button>-->
</div>
<div class="test-log">
    <span class="snd-test-log">Initializing data...</span>
</div>
<div class="snd-test-runner-frame"></div>
<div class="snd-test-data-frame"></div>

<script type="text/javascript" nonce="<%=scriptNonce%>">


    (function($) {
        var _oldShow = $.fn.show;

        $.fn.show = function(speed, oldCallback) {
            return $(this).each(
                    function() {
                        var obj = $(this),
                                newCallback = function() {
                                    if ($.isFunction(oldCallback)) {
                                        oldCallback.apply(obj);
                                    }
                                    obj.trigger('afterShow');
                                };

                        // you can trigger a before show if you want
                        obj.trigger('beforeShow');

                        // now use the old function to show the element passing the new callback
                        _oldShow.apply(obj, [speed, newCallback]);

                        // you can trigger a before show if you want
//                        newCallback();
                    });
        };

         $('.snd-test-data-frame').bind( 'afterShow', function () {
             LABKEY.initData(function () {
                 LABKEY.sndAddEventTests();
                 LABKEY.sndTestDriver();
             })
         }).show(0, null);
    })(jQuery);
</script>