//======== Date Picker ===========
.datepicker-input-wrapper { position: relative; }
.datepicker-input-wrapper i.fa-calendar { position: absolute; top: 1rem; left: 5px; }

.datepicker-input {
    padding-left: 30px;
}

.react-datepicker-wrapper {
    padding-left: $s-size;
}
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 25rem;
    height: 35px;
    border-radius: 5px;
}