
.species-panel {
    display: flex;
    background-color: $dark-blue;
    text-align: left;
    padding-bottom: 2rem;
    //color: $off-white;
    font-size: $font-size-small;
    margin-bottom: 1px solid lighten($dark-blue, 50%)
}

.species-radio-wrapper {
    padding-left: $s-size;
    cursor: hand;
    background-color: $dark-blue;
    border-color: $dark-blue;
    border-width: 5px;
    background-color: $dark-gray;
}
.species-radio {
  padding-top: $s-size;
  padding-left: $s-size;
  background-color: $dark-blue;
  color: $off-white;
  font-size: $font-size-small;
  padding-left: 3rem;
}
.species-dropdown {
    border-color: $dark-blue;
    border-width: 2px;
    font-size: $font-size-small;
    width: 50rem;
    height: 2.0rem;
    padding-top: 1rem;
    padding-right: 1rem;
}
