// ======= wizard wrapper ========
.wizard-wrapper {
    background-color: $dark-blue;
    text-align: left;
    padding-bottom: 10rem;
    color: $off-white;
    font-family: helvetica, Arial, sans-serif;
    font-size: $font-size-large;
    margin-top: 1rem;
  
  }
.wizard-label {
    background-color: $dark-blue;
    text-align: left;
    color: $off-white;
    padding-left: $s-size;
    padding-bottom: 1rem;
    font-weight: 600;
    color: $dark-blue;
    //font-family: helvetica, Arial, sans-serif;
    font-size: $l-size;
  }
  .wizard-label p {
      color: white;
  }