.content-wrapper {
    /*Prevent the scrollbar from altering the content positioning*/
    /*Works with webkit browsers - need to double check IE/Edge*/
    width: 100vw;
}

.alert-dismiss {
    float: right;
    margin: 5px;
    cursor: pointer;
}

.alert-dismiss:hover {
    transform: scale(1.1);
}

.app-container {
    min-width: 768px;
    margin: 0 auto;
}