// rem (replace px - better support for accessibility)
// 62.5% puts us on base 10 system - 16*.625 = 10
// i.e. 1rem = 10px
html {
    font-size: 62.5%;
}

body {
    font-family: helvetica, Arial, sans-serif;
    font-size: $font-sz-small;
}

button {
    cursor: default;
}

button:disabled {
    cursor:default;
}
