// ======= diet Panel ========
  .diet-date {
    border-color: $gray;
    border-width: 1px;
    border-left: $s-size;
    font-size: $font-size-small;
  }
  
  .diet-datepicker > div > div.react-datepicker__input-container input {
      display: block;
      width: 18rem;
      height: 35px;
      border-radius: 5px;
      border: 1px solid $disabled-gray;
      opacity: .7;
      border: 1px solid darken($disabled-gray, 30%);
      background-color: $disabled-gray;
  }

  