.panel-divider {
  background-color: $dark-gray;
  text-align: left;
  padding-bottom: 1rem;
  font-family: helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 10px solid lighten($dark-blue, 20%)
}

.parent-panel {
  min-width: 600px;
  padding-bottom: 1px;
  //border: 1px solid $dark-gray;
  border-radius: 1px;
}
.panel-heading {
  border: 1px solid $dark-gray;
  padding: .4rem .4rem .1rem 2rem;
  border-radius: 1px;
}
.panel-heading[disabled] {
  background-color: $disabled-gray;
}
.panel-heading p {
    padding-top: .8rem;
    font-weight: bold;
}

.field-label {
  text-align: left;
  margin: 0 $s-size;
  font-size: $font-size-small;
  display: inline-block;
  width: 15rem;
}

.field-label-align-top {
  text-align:left;
  margin: 0 $s-size;
  font-size: $font-size-small;
  padding: 0 0 2px 0 !important;
}
.field-label-align-close {
  text-align:left;
  margin: 0 0 0 $s-size;
  font-size: $font-size-small;
  display: inline-block;
}
.top-spacing {
  padding-top: 13px;
}
.hidden {
  display: none;
}