// ======= wizard wrapper ========
.wizard-panel {
  text-align: left;
  padding-top: $m-size;
  min-height: $m-panel;    
  border: 1px solid $dark-gray;
  border-style: none solid solid solid;
  border-radius: 1px;
  margin-bottom: $xs-size;
  position: relative;
}
.wizard-panel[disabled] {
  background-color: $disabled-gray;
}

.wizard-panel__rows {
  display:table;
}
.wizard-panel__row {
  display: table-row;
}
.wizard-panel__col {
  display: table-cell;
  padding: 5px 1rem 0 1rem;
  margin: 0 auto;
  
  vertical-align: middle;
}

.error-panel {
  text-align: left;
  font-size: $font-size-medium;
  padding: 0 0 0 $s-size;
  color: red;
  height: $xs-panel;
  position: absolute;
  bottom: 1rem;
  left: 0;
}