// Colors
$dark-gray: #333333;
$light-gray: #999;
$gray: #666;
$disabled-gray: #f5f5f5; //eeee;
$button-blue: #282aa5;
$dark-blue: #364051;
$off-white: #f7f7f7;
$info-red: #c24343;
$info-blue: #100796;
$tooltip-yellow: #e7e693;
// Font Size
$font-size-xlarge: 3.6rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;
// Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.3rem;
$xs-size: 0.5rem;
$desktop-breakpoint: 100rem;
// panel sizes
$xs-panel: 2rem;
$s-panel: 20rem;
$m-panel: 25rem;
$l-panel: 37rem;
$m-panel-width: 30rem;
