// Colors
$dark-gray: #333333;
$gray: #666;
$disabled-gray: #c7c7c7;
$button-blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
// Font Size
$font-size-xlarge: 3.6rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.0rem;
// Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.3rem;
$desktop-breakpoint: 45rem;
