/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/client/ChipReader/styles/chipReader.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

button {
  cursor: default;
}

button:disabled {
  cursor: default;
}

.info-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  font-size: 1.4rem;
  color: #364051;
  margin: auto 0 1rem 1rem;
  padding: 1rem 1rem 0 1rem;
}

.info-span {
  background-color: rgba(238, 238, 238, 0.9333333333);
  border: 1px solid #c24343;
  border-radius: 3px;
  color: #c24343;
}

.info-text-span {
  padding: 1rem 0 1rem 1rem;
  background-color: rgba(122, 236, 118, 0.7607843137);
  border: 1px solid rgba(122, 236, 118, 0.7607843137);
  border-radius: 3px;
}

.info-div {
  padding: 1rem 0 0 1rem;
}

.info-err-span {
  color: black;
  padding: 0.2rem;
}

.info-err-div {
  padding: 1rem;
  font-weight: 600;
  background-color: #e06d6d;
  border: 1px solid #e06d6d;
  border-radius: 3px;
}

.shared-dropdown {
  width: 40rem;
  padding-left: 1rem;
  display: inline-block;
}

.shared-select__control {
  min-height: 28px !important;
  height: 28px;
  justify-content: center !important;
  padding: 0 !important;
}

.shared-select__input {
  margin: 0;
}

.shared-select__indicator {
  padding: 0 !important;
  margin: 0 !important;
}

.shared-select__loading-indicator {
  padding: 0 2px !important;
  margin: 0 2px !important;
}

.shared-select__indicator-separator {
  margin: 0 !important;
}

.shared-select__value-container {
  height: 28px;
  padding-bottom: 0px !important;
  margin: 0, 10px;
}

.shared-select__single-value {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #333333 !important;
}

.shared-select__placeholder {
  height: 30px;
  line-height: 30px;
}

.shared-select__option {
  padding: 0.4rem !important;
}

.table-scroll {
  overflow-y: auto;
  min-height: 25rem;
  padding: 0, 0.1rem !important;
}

.table-bordered > thead > tr > th {
  padding-left: 0.5rem !important;
}

.table-bordered > tbody > tr > td {
  padding-left: 0.5rem;
  line-height: 2.4rem;
}

.table-scroll .btn {
  float: right;
  background: none;
  cursor: default;
  border-radius: 15%;
  outline: 0;
}

.table-scroll .btn:hover {
  background-color: #282aa5;
  border: 1px solid #333333;
  color: white;
  border-color: white;
}

.loading-spinner {
  padding: 1rem;
  color: #333333;
}

.split-panel {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.right-panel {
  flex: 1;
  padding-left: 1rem;
}

.parent-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100rem;
  padding-bottom: 1px;
  border-radius: 1px;
}

.panel-heading {
  min-width: 100px;
  border: 1px solid #333333;
  padding: 0.4rem 0.4rem 0.1rem 2rem;
  border-radius: 1px;
  background-color: white;
}

.panel-heading[disabled] {
  background-color: rgba(238, 238, 238, 0.9333333333);
}

.panel-heading p {
  padding-top: 0.8rem;
  font-weight: bold;
}

.field-label {
  text-align: left;
  margin: 0 1.3rem;
  font-size: 1.4rem;
  display: inline-block;
  width: 15rem;
}

.field-label-align-top {
  text-align: left;
  margin: 0 0.5rem 0 1.3rem !important;
  font-size: 1.4rem;
  padding: 0 0 2px 0 !important;
}

.field-label-align-close {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0.5rem 0.5rem 0 1.3rem;
  font-size: 1.4rem;
  vertical-align: center;
}

.field-label-align-success {
  display: flex;
  color: #100796;
  font-weight: 600;
  width: 30%;
}

.top-spacing {
  margin-top: 13px;
}

.hidden {
  display: none;
}

.pager-container {
  max-width: 100rem;
}

.fade-in {
  animation: fadeIn ease-in 300ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wizard-panel {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  padding-top: 1.6rem;
  min-height: 25rem;
  border: 1px solid #333333;
  border-style: none solid solid solid;
  border-radius: 1px;
  margin-bottom: 0.5rem;
  background-color: white;
}

.wizard-right {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  padding: 0.5rem 0.2rem 0 0.2rem;
  height: 100%;
  border: 1px solid #333333;
  border-style: none solid solid solid;
  border-radius: 1px;
  margin-bottom: 0.5rem;
  background-color: white;
}

.wizard-panel[disabled] {
  background-color: rgba(238, 238, 238, 0.9333333333);
}

.wizard-footer {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  text-align: left;
  padding-top: 1.3rem;
  min-height: 2rem;
  margin-bottom: 0.5rem;
  justify-content: start;
}

.wizard-footer > button {
  margin: 1rem;
}

.wizard-panel__rows {
  display: flex;
  flex-direction: column;
}

.wizard-panel__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wizard-panel__col {
  display: flex;
  flex-direction: row;
  padding: 5px 1rem 0 1rem;
  vertical-align: middle;
}

.wizard-panel-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.chip-info-span {
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 0 1rem 1rem;
  background-color: rgba(122, 236, 118, 0.7607843137);
  border: 1px solid rgba(122, 236, 118, 0.7607843137);
  border-radius: 3px;
  font-size: 1.8rem;
  color: #364051;
}

.url-span {
  color: #282aa5;
  text-decoration: underline;
}

.button-row {
  padding: 1rem 1rem 2rem 1rem;
}

.id-table-scroll {
  overflow-y: auto;
  min-height: 24.5rem;
  max-height: 50rem;
  padding: 0, 0.1rem !important;
}
