@import '../styles/styles.scss';

.header_title {
  color: $button-blue;
  text-shadow: 2px 2px $dark-gray;
  font-size: $font-size-xlarge;
  margin-left: 5rem;
}

.header_subtitle {
  color: #333745;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 5rem
}