.grid-panel__grid .table-responsive {
  overflow: scroll;
  height: 50vh; width: 100%;
  z-index: 1; top: 0; left: 0; transition: .5s ease; align-items: center;
}
.grid-panel__grid .table-responsive thead {
  position: sticky;
  top: -1px;
  z-index: 2;
}
.grid-panel__grid .table-responsive thead th {
  background-color: #fff;
  padding: 0;
  /* fix for weird FF behavior, described in https://stackoverflow.com/questions/7517127/ */
  background-clip: padding-box;
}
.grid-panel__grid .table-responsive thead th#__selection__,
.grid-panel__grid .table-responsive thead th .grid-header-cell__body {
  padding: 5px;
}