// When screen is small
@media screen and (max-width: 992px)  {
  .snd-lookups-grid {
    width: 85%;
    padding-bottom: 3%;
  }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .lookups-placeholder {
    top: 30000%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

// When screen is medium-large
@media screen and (min-width: 1200px) {
  .snd-lookups-grid {
    display: flex;
  }
  .lookups-grid {
    flex: 1 !important;
  }

  .lookupSets-grid {
    flex: 0 0 500px;
    overflow: hidden;
    white-space: nowrap;
  }

  .lookups-placeholder {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .grid-panel__search-input {
    width: 75% !important;
  }
}

// Make header sticky
.lk-header-ct {
  position: sticky;
  top: 0;
  z-index: 1000;
}

// Move title to center
.lk-body-title {
  width: 60%;
  transform: translate(19%, 0%);
  display: block;
  color: #555;
}

// Div with both grids
.snd-lookups-grid {
  margin: auto;
  align-items: center;
  height: 100%;
  width: 80%;
}


// Placeholder heading for grid not loaded
.lookups-placeholder {
  color: #555;
  display: flex;
  position: absolute;

}

// Div for alert above grids
.success-alert {
  position: relative;
  margin: auto;
  border-radius: 5px;
  transform: translate(0, -20%);
  width: 78%;
  left: .8%;
}

// Div for component modals
.lookups-modal {
  position: fixed;
  transform: translate(0, 10%)
}

// Div for custom buttons
.manage-buttons {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
.manage-buttons .dropdown-menu {
  position: absolute;
}

// Div for Edit modal forms
.form-group-create-update {
  margin-bottom: 10px;
}
.form-group-create-update .control-label {
  float: left;
  width: 80px;
  margin-top: 5px;
  margin-right: 6px;
}
.form-group-create-update .form-control {
  width: 70%;
}
.form-group-create-update .checkbox {
  padding-top: 8px;
  margin-bottom: -10px;
}

// GridPanel styling customization
.grid-panel__grid .table-responsive {
  overflow-y: scroll;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  transition: .5s ease;
  align-items: center;
  border-radius: 4px;
  height: 54vh !important;
}
.grid-panel__grid .table-responsive thead {
  position: sticky;
  top: -1px;
  z-index: 2;
}
.grid-panel__grid .table-responsive thead th {
  background-color: #FFFFFF;
  /* fix for weird FF behavior, described in https://stackoverflow.com/questions/7517127/ */
  background-clip: padding-box;
  font-weight: bold;
}
.grid-panel__grid .table-responsive thead th#__selection__,
.grid-panel__grid .table-responsive thead th .grid-header-cell__body {
  padding: 5px;
}
<<<<<<< HEAD
.grid-header-cell__dropdown-menu {
  position: fixed;
=======
.grid-panel__grid .table-responsive {

}
.grid-header-cell__dropdown-menu .dropdown-menu {
  position: absolute;
>>>>>>> fixed search bar
}
.grid-panel {
  border-color: #ddd;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.grid-panel__body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.panel-default .panel-heading {
  background-color: #fff;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #555;
  line-height: 1.428571429;
  border-bottom: 1px solid #ddd;
  margin: 15px 15px 0 15px;
  padding: 0px 0px 10px;
}
.ws-pre-wrap {
  color: #555;
}

// Customize button bar on grid
.button-bar__section {
  display: flex;
  float: left;
  margin-bottom: 5px;
}
.input-group-addon {
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
.input-group-addon, .input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}
.grid-panel__input-group {
  margin-left: 5px;
}

// Labkey modal customization
.modal-content {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  left: 7%;
  width: 85%;
  border-radius: 5px;
  transform: translate(0, 10%)
}

.modal-header {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

// Labkey modal fix for Filters
.modal-lg {
  position: relative;
}
.labkey-wizard-pills {
  overflow: scroll;
  height: 40vh;
}
.form-check {
  display: inline-flex;
}

// Styling for all buttons
.btn {
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid rgba(0,0,0,0);
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.428571429;
}

// Styling for all forms
.form-control {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

// Styling for all dropdowns
.dropdown-menu {
  border-radius: 5px;
}
.select-dropdown {
  width: 60%;
}

// Removing labkey objects don't need to be displayed
.selection-status__count, .selection-status__select-all, .grid-panel__loading, .selection-status__clear-all, .view-menu {
  display: none;
}