@import "../../Shared/styles/components/labkeyGridPanel";

// When screen is small
@media screen and (max-width: 992px)  {
  .snd-lookups-grid {
    width: 85%;
    padding-bottom: 3%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .lookups-placeholder {
    top: 30000%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

@media screen and (min-width: 1200px) {
  .snd-lookups-grid {
    display: flex;
  }
  .lookups-grid {
    flex: 1 !important;
  }
  .lookupSets-grid {
    flex: 0 0 500px;
    overflow: hidden;
    white-space: nowrap;
  }
  .lookups-placeholder {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

// Move title to center
.lk-body-title {
  width: 60%;
  transform: translate(19%, 0%);
  display: block;
  color: #555;
}

// Div with both grids
.snd-lookups-grid {
  margin: auto;
  align-items: center;
  height: 100%;
  width: 80%;
}


// Placeholder heading for grid not loaded
.lookups-placeholder {
  color: #555;
  display: flex;
  position: absolute;
}

// Div for alert above grids
.success-alert {
  position: relative;
  margin: auto;
  border-radius: 5px;
  transform: translate(0, -20%);
  width: 85%;
  left: 4.6%;
}

// Div for component modals
.lookups-modal {
  position: fixed;
  transform: translate(0, 10%)
}

// Div for custom buttons
.manage-buttons {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
.manage-buttons .dropdown-menu {
  position: absolute;
}

// Div for Edit modal forms
.form-group-create-update {
  margin-bottom: 10px;
}
.form-group-create-update .control-label {
  float: left;
  width: 80px;
  margin-top: 7px;
  margin-right: 6px;
}
.form-group-create-update .form-control {
  width: 70%;
}
.form-group-create-update .checkbox {
  padding-top: 8px;
  margin-bottom: -10px;
}

// Removing labkey objects don't need to be displayed
.selection-status__count, .selection-status__select-all, .grid-panel__loading, .selection-status__clear-all,
.view-menu, .alert-info, .button-left-spacing, .panel-heading .btn-success {
  display: none;
}
