.scheduler-bs-accordion-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scheduler-accordion-timeline-item {
  display: flex;
  flex-direction: column;
}

.scheduler-timeline-list {
  margin-bottom: 20px;
}
