
.timeline-grid {
    margin-right: 30px;
}

.timeline-grid-proc-note {
    width: 100%;
    height: 100px;
}

.timeline-grid-disabled {
    opacity: 0.5;
}

.timeline-grid .rdg_cell_value {
    -webkit-align-content: center !important;
    align-content: center !important;
    text-align: center;
}

.timeline-grid .rdg-header {
    background: #f9f9f9;
    overflow: hidden;
    font-weight: 700
}

.timeline-grid .rdg-header-row {
    position: relative;
    background-color: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.timeline-grid .rdg-root {
    position: relative;
    z-index: 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px
}

.timeline-grid .rdg-viewport {
    position: relative;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: #fff;
    will-change: transform
}

.timeline-grid .rdg-cell {
    background-color: #ffffff;
    padding: 8px 8px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #dddddd;
    display: inline-block;
    position: absolute;
    height: inherit;
}

.timeline-grid .rdg-cell-action-button {
    color: grey;
}

.timeline-grid .rdg-header-row .rdg-cell {
    transform:
            translate(15px, 53px)
            rotate(315deg) !important;
    width: 0px !important;
    border: 0px !important;
    color: black;
    background-color: transparent;
    text-decoration-style: solid !important;
    font-size: 13px;
    padding-top: 0px !important;
    padding-right: 150px !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    overflow: visible !important;
    height: 100px !important;
}

.timeline-grid .rdg-header-sort-cell {
    transform:
            translate(10px, -20px)
            rotate(45deg) !important;
    display: inherit;
}

.timeline-grid .rdg-row-index {
    visibility: hidden;
}

.timeline-grid .rdg-row .rdg-cell,
.timeline-grid .rdg-row-odd .rdg-cell,
.timeline-grid .rdg-row-even .rdg-cell {
    width: 80px;
}

.day-tl-grid-hdr {
    width: 260px !important;
    height: 74px;
    padding-top: 20px;
    padding-bottom: 0px !important;
    padding-left: 65px;
    margin-bottom: 0px !important;
    transform: translate(-60px,-15px);
    overflow: visible !important;
}

.time-tl-grid-hdr {
    border-bottom: 3px groove rgb(255, 255, 255) !important;
    border-top: 3px groove rgb(255, 255, 255) !important;
    width: 280px !important;
    height: 73px;
    padding-top: 20px;
    padding-bottom: 0px !important;
    padding-left: 75px;
    margin-bottom: 0px !important;
    transform: translate(-26px, 8px);
}

.wkDay-t1-grid-hdr {
    border-bottom: 3px groove rgb(255, 255, 255) !important;
    width: 260px !important;
    height: 75px;
    padding-top: 20px;
    padding-bottom: 0px !important;
    padding-left: 50px;
    margin-bottom: 0px !important;
    transform: translate(-6px, -6px);
    overflow: visible !important;
}

.procedure-tl-grid-hdr {
    transform: translate(-6px, -6px);
    border-bottom: 3px groove rgb(255, 255, 255) !important;
    width: 248px !important;
    height: 75px;
    padding-left: 30px !important;
    padding-right: 35px !important;
    padding-bottom: 23px;
    padding-top: 25px !important;
    word-wrap: break-word;
    overflow-wrap: break-word !important;
    white-space: normal;
    overflow: hidden !important;
    line-height: normal
}

.studyDayNote-t1-grid-hdr {
    width: 260px !important;
    height: 53px;
    padding-top: 20px;
    padding-bottom: 0px !important;
    padding-left: 35px;
    margin-bottom: 0px !important;
    transform: translate(-6px, -6px)
}

.timeline-grid .rdg-header-row  {
    height: 140px !important;
    background-color: rgb(240, 240, 240);
}

.timeline-grid .rdg-grid {
    top: 120px !important;
    border-top: 2px solid rgb(180, 180, 180) !important;
    min-height: 1px;
}

.timeline-grid .rdg-cell-action {
    float: right;
    height: 100%
}

.timeline-grid .rdg-cell-action-last {
    margin-right: -8px
}

.timeline-grid .rdg-cell-mask {
    position: absolute;
    pointer-events: none;
    outline: 0
}

.timeline-grid .rdg-selected {
    border: 2px solid #66afe9
}
.timeline-grid .add-delete-btn {
    margin-left: 15px;
    height: 27px;
    width: 27px;
}

.timeline-grid .add-delete-btn svg{
    position: relative;
    top: -2px;
    left: -6px;
}

.timeline-grid .chbox {
    height: 17px;
    width: 17px;
}

.timeline-grid-delete-icon {
    margin-top: 10px;
}

.modal-header {
    background-color: rgb(245, 245, 245) !important;
    color: black !important;
}

.rdg-editor-container {
    position: absolute
}

.rdg-select-editor,
.rdg-text-editor {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    padding: 1px 7px 0;
    margin: -1px 0 0 -1px;
    border: 2px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2
}

.rdg-select-editor::placeholder,
.rdg-text-editor::placeholder {
    color: #999;
    opacity: 1
}

.rdg-select-editor:-ms-input-placeholder,
.rdg-text-editor:-ms-input-placeholder {
    color: #999
}

.rdg-select-editor::-ms-input-placeholder,
.rdg-text-editor::-ms-input-placeholder {
    color: #999
}

.rdg-select-editor:focus,
.rdg-text-editor:focus {
    border-color: #66afe9
}
