<script type="text/javascript" nonce="<%=scriptNonce%>">

    let webpart = <%=webpartContext%>;
    let ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    let currentUserGroups = [];

    Ext4.onReady(() => {

        if (!ctx)
            return;

        const getCurrentUserGroups = () => {
            return new Promise((resolve, reject) => {
                const success = groups => {
                    resolve(groups)
                }
                const failure = error => {
                    reject(error)
                }
                LABKEY.Security.getGroupsForCurrentUser({
                    success,
                    failure
                })
            })
        }
        getCurrentUserGroups().then(({ groups }) => {
            currentUserGroups = groups;
            renderPage();
        }).catch(error => {
            console.log(error)
        })
    });
    const renderPage = () => {
        let issueHTML = '';

        if (ctx['EHRIssuesContainer']) {
            issueHTML = '<div style="max-width:920px">Below are the sections of the Electronic Health Record.  If there are additional reports you would like, please submit a request <a href="' + LABKEY.ActionURL.buildURL('issues', 'list', ctx['EHRIssuesContainer']) + '" target="_blank">here</a>.<br><br></div>'
        }

        Ext4.get(webpart.wrapperDivId).update(
            issueHTML +
            '<table>' +
            '<tr style="vertical-align:top">' +
            '    <td style="width:300px">' +
            '        <div id="ehrMenu1_' + webpart.wrapperDivId + '"></div>' +
            '    </td>' +
            '    <td style="width:300px;vertical-align:top">' +
            '        <div id="ehrMenu2_' + webpart.wrapperDivId + '"></div>' +
            '    </td>' +
            '    <td style="width:300px">' +
            '        <div id="ehrMenu3_' + webpart.wrapperDivId + '"></div>' +
            '    </td>' +
            '</tr>' +
            '</table>'
        );

        Ext4.create('LDK.panel.NavPanel', {
            width: 270,
            renderTo: 'ehrMenu1_' + webpart.wrapperDivId,
            sections: [{
                header: 'By Animal',
                itemDefaults: {
                    linkCls: 'none',
                    style: 'font-weight: bold;'
                },
                items: [
                    { name: 'Animal History', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-animalHistory.view' },
                    { name: 'Animal Search', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-animalSearch.view' }
                ]
            }, {
                header: 'By Dataset',
                itemDefaults: {
                    linkCls: 'none',
                    style: 'font-weight: bold;'
                },
                items: [
                    { name: 'Browse All Datasets', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-datasets.view' },
                    { name: 'Housing Queries', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-housingQueries.view' },
                    { name: 'Protocol and Project Queries', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-projectQueries.view' }
                ]
            }, {
                header: 'By Location',
                itemDefaults: {
                    linkCls: 'none',
                    style: 'font-weight: bold;'
                },
                items: [
                    { name: 'Search By Area or Room', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-animalHistory.view#inputType:roomCage' },
                    {
                        name: 'Animal Tree View Navigation',
                        url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/AnimalsHierarchy-getView.view'
                    }
                ]
            }]
        });

        Ext4.create('LDK.panel.NavPanel', {
            width: 270,
            renderTo: 'ehrMenu2_' + webpart.wrapperDivId,
            sections: [{
                header: 'Entire Colony',
                itemDefaults: {
                    linkCls: 'none',
                    style: 'font-weight: bold;'
                },
                items: [
                    //{name: 'Animal Groups', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/query-executeQuery.view?schemaName=ehr&query.queryName=animal_groups&query.viewName=Active Groups'},
                    { name: 'Colony Overview', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-colonyOverview.view' },
                    { name: 'Room Utilization', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/query-executeQuery.view?schemaName=ehr_lookups&query.queryName=roomUtilization' },
                    { name: 'More Reports', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-moreReports.view' },
                    { name: 'PDF Reports', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-SsrsReporting.view' }
                ]
            }, {
                ...(currentUserGroups.find(o => (o.name === 'SNPRC Colony Admins')) && {
                    header: 'Colony Management',
                    itemDefaults: {
                        linkCls: 'none',
                        style: 'font-weight: bold;'
                    },
                    items: [
                        {
                            name: 'New Animal Wizard',
                            url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-NewAnimalWizard.view'
                        }
                    ]
                })
            },{
                ...(currentUserGroups.find(o => (o.name === 'SND Data Admins')) && {
                    header: 'SND Data Management',
                    itemDefaults: {
                        linkCls: 'none',
                        style: 'font-weight: bold;'
                    },
                    items: [
                        {
                            name: 'Packages and Projects',
                            url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snd-app.view'
                        },
                        //{ name: 'Manage SND Lookups', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-editSndLookups.view' }
                        {
                            name: 'SND Lookups Management',
                            url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-SndLookupsManagement.view'
                        }
                    ]
                })
            }
            ]
        });

        let menuCfg = {
            width: 330,
            renderTo: 'ehrMenu3_' + webpart.wrapperDivId,
            sections: [{
                header: 'Misc',
                itemDefaults: {
                    linkCls: 'none',
                    style: 'font-weight: bold;'
                },
                items: [
                    { name: 'Compare Lists of Animals', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-utilities.view' },
                    {name: 'Chip Reader',url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-ChipReader.view'}
                    //{name: 'Drug Formulary', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/query-executeQuery.view?schemaName=ehr_lookups&query.queryName=drug_defaults'},
                    //{name: 'Procedure List', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/query-executeQuery.view?schemaName=ehr_lookups&query.queryName=procedures&query.viewName=Active Procedures'},
                    //{name: 'Search Center SNOMED Codes', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/query-executeQuery.view?schemaName=ehr_lookups&query.queryName=snomed'},
                    //{name: 'Mature Female Exposed To Fertile Male', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/query-executeQuery.view?schemaName=ehr&query.queryName=animalExposure&query.viewName=Mature Female Exposed To Fertile Male'}
                ]
            }, {
                header: 'Data Entry',
                itemDefaults: {
                    linkCls: 'none',
                    style: 'font-weight: bold;'
                },
                items: [
                    { name: 'Enter Data', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-enterData.view' },
                ]

            }
            ]
        };

        if (LABKEY.Security.currentUser.isAdmin) {
            menuCfg.sections.push({
                header: 'Admin',
                itemDefaults: {
                    linkCls: 'none',
                    style: 'font-weight: bold;'
                },
                items: [
                    { name: 'EHR Admin Page', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-ehrAdmin.view' },
                    { name: 'Manage EHR Study', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/study-manageStudy.view' },
                    { name: 'Manage Lookup Tables', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/snprc_ehr-editLookupTables.view' },
                    { name: 'Enter Data', url: '<%=contextPath%>' + ctx['EHRStudyContainer'] + '/ehr-dataEntry.view' },
                ]
            });
        }

        Ext4.create('LDK.panel.NavPanel', menuCfg);

    }
</script>
