<script type="text/javascript">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;
        Ext4.create('EHR.panel.ColonyOverviewPanel', {
            getTabs: function(){
                return [{
                    title: 'Population Composition',
                    style: 'padding 5px;',
                    items: [{
                        xtype: 'ehr-populationpanel',
                        filterArray: this.filterArray,
                        rowField: EHR.panel.PopulationPanel.FIELDS.species,
                        colFields: [EHR.panel.PopulationPanel.FIELDS.ageclass, EHR.panel.PopulationPanel.FIELDS.gender]
                    }],
                    itemId: 'population'
                }
                    ,{
                    title: 'Baboon Colony',
                    style: 'padding 5px;',
                    items: [{
                        xtype: 'snprc-colonyusagepanel',
                        filterArray: [LABKEY.Filter.create('species_code', 'PC', LABKEY.Filter.Types.EQUALS)]
                    }],
                    itemId: 'baboon'
                }];
            }
        }).render(webpart.wrapperDivId);
    });
</script>