<script src="/labkey/snprc_mobile/app/widget.js" type="application/javascript"></script>
<style>
    #procedure-entry-widget {
        width: 100%;
        height: 600px;
        border-radius: 4px;
        background-color: #fff;
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #555;
        line-height: 1.428571429;
        /*border-bottom: 1px solid #555;*/
        margin: 15px 15px 0 15px;
        padding: 0px 0px 10px;
    }

    #update-report {
        background-color: #fff;
        border: 1px solid #95989a;
        border-bottom-color: #5b5b5b;
        color: #5b5b5b;
        font-size: 12px;
        font-family: Roboto,Arial,Helvetica,sans-serif;
        font-weight: 700;
        background-image: -webkit-linear-gradient(top,#fff,#f0f0f0);
        height: 26px;
        margin: 12px 0;
        border-radius: 4px;
        padding-top: 5px;
    }

    #snprc-inputs {
        text-align: left;
        display: block;
        flex-direction: column;
    }

    #subject-id {
        border-radius: 4px;
    }


    .snd-event-date {
        display: none;
    }

    .snd-event-subject {
        display: none;
    }

    .snd-event-note {
        white-space: normal;
    }

    .snd-event-data {
        white-space: normal;
    }

    .snd-attribute-data {
        color: #d75bc0;
    }

    .snd-superpkg-pkgid {
    }

    .panel-portal {
        border-color: #ddd;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        margin: auto;
        width: 80%;
    }

    .panel-heading {
        background-color: #fff;
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 18px;
        color: #555;
        line-height: 1.428571429;
        border-bottom: 1px solid #555;
        margin: 15px 15px 0 15px;
        padding: 0px 0px 10px;
    }

    .lk-header-ct {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
</style>

<div id="fake-root">
<!--    <div id="snprc-inputs">-->
<!--        <label for="event-id">Event ID: <input id="event-id" type="text" value="1512572"> </label>-->
<!--        <button id="update-report">Update Report</button>-->
<!--    </div>-->

    <div id="procedure-entry-widget"></div>
</div>


<script>
  // const updateReportButton = document.getElementById('update-report')
  // const eventIDElement = document.getElementById('event-id')
  const ProcedureEntryWidget = document.getElementById('procedure-entry-widget')

  ProcedureEntryWidget.setAttribute('data-event-id', '1438467')

  // updateReportButton.onclick = () => {
  //   ProcedureEntryWidget.setAttribute('data-event-id', eventIDElement.value)
  // }
  //
  // eventIDElement.onkeydown = event => {
  //   if (event.keyCode === 13) {
  //     ProcedureEntryWidget.setAttribute('data-event-id', eventIDElement.value)
  //   }
  // }
</script>
