<script type="text/javascript">

    // NOTE: Unofficial API to import a file.  Eventually, move this to LABKEY.Query or support importing files directly in LABKEY.Query.importRows().
    function importFile(config) {
        var o = {
            schemaName: config.schemaName,
            queryName: config.queryName
        };

        LABKEY.Ajax.request({
            url: LABKEY.ActionURL.buildURL("query", "import", config.containerPath, {
                module: 'snprc_ehr',
                moduleResource: config.moduleResource
            }),
            method: 'POST',
            timeout: 100000,
            success: LABKEY.Utils.getCallbackWrapper(config.success, config.scope),
            failure: LABKEY.Utils.getCallbackWrapper(config.failure, config.scope, true),
            jsonData: o,
            headers: {
                'Content-Type': 'application/json'
            }
        });
    }

    Ext4.onReady(function () {

        var tables = [
            {
                label: 'Procedures',
                doSkip: true,
                populateFn: 'populateProcedures',
                schemaName: 'ehr_lookups',
                queryName: 'procedures',
                deleteFn: function () {
                    console.log('procedures are not actually deleted, skipping');
                    this.pendingDeletes++;
                    this.onDeleteSuccess({
                        queryName: 'procedures'
                    });
                },
                pk: 'rowid'
            }, {
                label: 'Package Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'pkg_type',
                pk: 'value'
            }, {
                label: 'Apath Death Type',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'apath_death_type',
                pk: 'value'
            }, {
                label: 'APath record status',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'apath_record_status',
                pk: 'value'
            }, {
                label: 'Pathology accession codes',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'accessionCode',
                pk: 'value'
            },
            {
                label: 'Active/Inactive lookup',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'activeInactive',
                pk: 'value'
            }, {
                label: 'Yes/No lookup',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'yesno',
                pk: 'value'
            }, {
                label: 'Valid birth date status',
                populateFn: 'populateFromFile',
                schemaName: 'snprc_ehr',
                queryName: 'valid_bd_status',
                pk: 'value'
            }, {
                label: 'Rearing Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'rearing_type',
                pk: 'value'
            }, {
                label: 'Housing Status',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'housingStatus',
                pk: 'value'
            }, {
                label: 'Clinical Observation Datasets',
                populateFn: 'populateFromFile',
                schemaName: 'snprc_ehr',
                queryName: 'clinical_observation_datasets',
                pk: 'rowid'
            }, {
                label: 'USDA Levels',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'usda_levels',
                pk: 'rowid'
            }, {
                label: 'Status codes',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'status_codes',
                pk: 'code'
            }, {
                label: 'Pregnancy termination codes',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'preg_term_code',
                pk: 'value'
            }, {
                label: 'Assignment status',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'assignment_status',
                pk: 'value'
            }, {
                label: 'TB sites',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'tb_site',
                pk: 'value'
            }, {
                label: 'Calculated Status Field Values',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'calculated_status_codes',
                pk: 'rowid'
            }, {
                label: 'Id Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'id_type',
                pk: 'rowid'
            }, {
                label: 'Reports',
                populateFn: 'populateFromFile',
                schemaName: 'ehr',
                queryName: 'reports',
                pk: 'rowid'
            }, {
                label: 'Species codes',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'species_codes',
                pk: 'rowid'
            },{
                label: 'Acquisition Type',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'acquisitionType',
                pk: 'rowid'
            }, {
                label: 'Disposition Type',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'dispositionType',
                pk: 'rowid'
            }, {
                label: 'Gender codes',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'gender_codes',
                pk: 'rowid'
            }, {
                label: 'Ref Ranges',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'lab_test_range',
                pk: 'rowid'
            }, {
                label: 'SNOMED Codes',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'snomed',
                doSkip: true,
                pk: 'rowid'
            }, {
                label: 'SNOMED Subsets',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'snomed_subsets',
                pk: 'rowid'
            }, {
                label: 'SNOMED Subset Codes',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'snomed_subset_codes',
                pk: 'rowid'
            }, {
                label: 'Drug Category',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'drug_categories',
                pk: 'rowid'
            }, {
                label: 'Blood Sample Type',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'blood_sample_type',
                pk: 'rowid'
            }, {
                label: 'Notes Category',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'notes_category',
                pk: 'rowid'
            }, {
                label: 'Blood Draw Tube Type',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'blood_draw_tube_type',
                pk: 'rowid'
            }, {
                label: 'Encounter Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'encounter_types',
                pk: 'rowid'
            }, {
                label: 'Labwork Charge Type',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'labworkChargeType',
                pk: 'rowid'
            }, {
                label: 'SND Project Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'project_type',
                pk: 'value'
            }, {
                label: 'Alopecia Score',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'alopecia_score',
                pk: 'rowid'
            }, {
                label: 'Conc Units',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'conc_units',
                pk: 'rowid'
            }, {
                label: 'Dosage Units',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'dosage_units',
                pk: 'rowid'
            }, {
                label: 'Volume Units',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'volume_units',
                pk: 'rowid'
            }, {
                label: 'Amount Units',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'amount_units',
                pk: 'rowid'
            }, {
                label: 'Flag Categories',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'flag_categories',
                pk: 'rowid'
            }, {
                label: 'Route',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'routes',
                pk: 'rowid'
            }, {
                label: 'Problem List Category',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'problem_list_category',
                pk: 'rowid'
            }, {
                label: 'Normal/Abnormal',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'normal_abnormal',
                pk: 'state'
            }, {
                label: 'Clinremarks Category',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'clinremarks_category',
                pk: 'rowid'
            }, {
                label: 'Age Class',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'ageclass',
                pk: 'rowid'
            }, {
                label: 'Treatment Frequency Times',
                populateFn: 'populateTreatmentFrequencies',
                schemaName: 'ehr_lookups',
                queryName: 'treatment_frequency_times',
                pk: 'rowid'
            }, {
                label: 'Georgraphic Origins',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'geographic_origins',
                pk: 'rowid'
            }, {
                label: 'Procedure Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'proc_type',
                pk: 'rowid'
            }, {
                label: 'Fee Schedule Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'fee_schedule_type',
                pk: 'value'
            }, {
                label: 'Weight Ranges',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'weight_ranges',
                pk: 'rowid'
            }, {
                label: 'Valid Clinical Resolutions',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'valid_clinical_resolutions',
                pk: 'value'
            }, {
                label: 'Charge By Species Types',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'chargeBySpeciesTypes',
                pk: 'value'
            },{
                label: 'Obscan Amniotic Fluid Condition',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'obscan_cond_amntc_fl',
                pk: 'value'
            }, {
                label: 'Obscan Placenta comments',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'obscan_placenta_comment',
                pk: 'value'
            }, {
                label: 'Obscan Placenta Grade',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'obscan_placenta_grade',
                pk: 'value'
            }, {
                label: 'Obscan Placenta Location AP',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'obscan_placenta_loc_ap',
                pk: 'value'
            }, {
                label: 'Obscan Placenta Location FC ',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'obscan_placenta_loc_fc',
                pk: 'value'
            }, {
                label: 'Obscan Placenta Location LR ',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'obscan_placenta_loc_lr',
                pk: 'value'
            }, {
                label: 'Obscan Reason',
                populateFn: 'populateFromFile',
                schemaName: 'ehr_lookups',
                queryName: 'obscan_reason',
                pk: 'value'
            }

        ];

        tables.sort(function (a, b) {
            return a.label.toLowerCase() < b.label.toLowerCase() ? -1 : 1;
        });

        // Keep lookup sets as the first item
        tables.splice(0, 0, {
            label: 'Lookup Sets',
            doSkip: true,
            populateFn: 'populateLookupSets',
            schemaName: 'ehr_lookups',
            queryName: 'lookup_sets'
        });

        var webpart = <%=webpartContext%>;
        Ext4.define('SNPRC_EHR.panel.PopulateDataPanel', {
            extend: 'Ext.panel.Panel',

            initComponent: function () {
                Ext4.apply(this, {
                    defaults: {
                        style: 'padding: 10px;'
                    },
                    items: this.getItems()
                });

                this.pendingInserts = 0;
                this.pendingDeletes = 0;

                this.callParent();
            },

            getItems: function () {
                var tableItems = [];

                var items = [{
                    layout: 'hbox',
                    border: false,
                    items: [{
                        border: false,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            style: 'margin: 2px;'
                        },
                        items: tableItems
                    }, {
                        border: false,
                        itemId: 'ehr_msg',
                        xtype: 'box',
                        width: "400px",
                        style: { overflow: "scroll" },
                        html: '<div id="msgbox"></div>'
                    }]
                }];

                Ext4.each(this.tables, function (table) {
                    tableItems.push({
                        xtype: 'button',
                        text: 'Populate ' + table.label,
                        scope: this,
                        handler: function () {
                            document.getElementById('msgbox').innerHTML = '<div>Populating ' + table.queryName + '...</div>';
                            if (table.populateFn == 'populateFromFile') {
                                this.populateFromFile.call(this, table.schemaName, table.queryName);
                            }
                            else {
                                this[table.populateFn].call(this);
                            }
                        }
                    });

                    tableItems.push({
                        xtype: 'button',
                        text: 'Delete Data From ' + table.label,
                        scope: this,
                        handler: function () {
                            document.getElementById('msgbox').innerHTML = '<div>Deleting ' + table.label + '...</div>';
                            this.deleteHandler(table);
                        }
                    });
                }, this);

                tableItems.push({
                    xtype: 'button',
                    text: 'Populate All',
                    scope: this,
                    handler: function () {
                        document.getElementById('msgbox').innerHTML = '';
                        Ext4.each(this.tables, function (table) {
                            if (!table.doSkip) {
                                document.getElementById('msgbox').innerHTML += '<div>Populating ' + table.queryName + '...</div>';
                                if (table.populateFn == 'populateFromFile') {
                                    this.populateFromFile.call(this, table.schemaName, table.queryName);
                                }
                                else {
                                    this[table.populateFn]();
                                }
                            }
                            else {
                                document.getElementById('msgbox').innerHTML += '<div>Skipping ' + table.label + '</div>';
                                console.log('skipping: ' + table.label)
                            }
                        }, this);
                    }
                });
                tableItems.push({
                    xtype: 'button',
                    text: 'Delete All',
                    scope: this,
                    handler: function () {
                        this.pendingDeletes = 0;
                        document.getElementById('msgbox').innerHTML = '';
                        Ext4.each(this.tables, function (table) {
                            if (!table.doSkip) {
                                document.getElementById('msgbox').innerHTML += '<div>Deleting ' + table.label + '...</div>';
                                this.deleteHandler(table);
                            }
                            else {
                                document.getElementById('msgbox').innerHTML += '<div>Skipping ' + table.label + '</div>';
                                console.log('skipping: ' + table.label);
                            }
                        }, this);
                    }
                });

                return items;
            },

            tables: tables,
            deleteHandler: function (table) {
                if (table.deleteFn) {
                    table.deleteFn.call(this);
                }
                else {
                    this.truncate(table.schemaName, table.queryName);
                }
            },

            truncate: function (schemaName, queryName) {
                this.pendingDeletes++;
                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL("query", "truncateTable.api"),
                    success: LABKEY.Utils.getCallbackWrapper(this.onDeleteSuccess, this),
                    failure: LDK.Utils.getErrorCallback({
                        callback: function (resp) {
                            document.getElementById('msgbox').innerHTML += '<div class="labkey-error">Error loading data: ' + resp.errorMsg + '</div>';
                        },
                        scope: this
                    }),
                    jsonData: {
                        schemaName: schemaName,
                        queryName: queryName
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            },

            onDeleteSuccess: function (data) {
                var count = data ? (data.affectedRows || data.deletedRows) : '?';
                console.log('success deleting ' + count + ' rows: ' + (data ? data.queryName : ' no query'));
                this.pendingDeletes--;
                if (this.pendingDeletes == 0) {
                    document.getElementById('msgbox').innerHTML += '<div>Delete Complete</div>';
                }
            },

            populateFromFile: function (schemaName, queryName) {
                console.log("Populating " + schemaName + "." + queryName + "...");
                this.pendingInserts++;
                //records for task forms:
                var config = {
                    schemaName: schemaName,
                    queryName: queryName,
                    moduleResource: '/data/' + queryName + '.tsv',
                    success: this.onSuccess,
                    failure: this.onError,
                    scope: this
                };

                importFile(config);
            },

            populateProcedures: function () {
                // dummy function to pass test
                this.pendingInserts++;
                this.onSuccess({
                    schemaName: 'ehr_lookups',
                    queryName: 'procedures'
                });
            },

            populateTreatmentFrequencies: function () {
                this.pendingInserts++;
                var config = {
                    schemaName: 'ehr_lookups',
                    queryName: 'treatment_frequency_times',
                    moduleResource: '/data/treatment_frequency_times.tsv',
                    success: this.onSuccess,
                    failure: this.onError,
                    scope: this
                };

                importFile(config);


                this.pendingInserts++;
                var dataMap = [
                    {
                        meaning: 'BID - Two times a day',
                        intervalindays: 1,
                        shortname: 'BID',
                        active: false
                    },
                    {
                        meaning: 'BID - AM/Night',
                        intervalindays: 1,
                        shortname: 'BID',
                        sort_order: 4,
                        active: true
                    },
                    {
                        meaning: 'BID - AM/PM',
                        intervalindays: 1,
                        shortname: 'BID',
                        sort_order: 5,
                        active: true
                    },
                    {
                        meaning: 'SID - Once a day',
                        intervalindays: 1,
                        shortname: 'SID',
                        active: false
                    },
                    {
                        meaning: 'SID - AM',
                        intervalindays: 1,
                        shortname: 'SID',
                        sort_order: 1,
                        active: true
                    },
                    {
                        meaning: 'SID - PM',
                        intervalindays: 1,
                        shortname: 'SID',
                        sort_order: 2,
                        active: true
                    },
                    {
                        meaning: 'SID - Night',
                        intervalindays: 1,
                        shortname: 'SID',
                        sort_order: 3,
                        active: true
                    },
                    {
                        meaning: 'SID - Custom',
                        intervalindays: 1,
                        shortname: 'SID',
                        sort_order: 12,
                        active: true
                    },
                    {
                        meaning: 'TID - Three times a day',
                        intervalindays: 1,
                        shortname: 'TID',
                        active: false
                    },
                    {
                        meaning: 'TID',
                        intervalindays: 1,
                        shortname: 'TID',
                        sort_order: 6,
                        active: true
                    },
                    {
                        meaning: 'TID - AM/PM/Night',
                        intervalindays: 1,
                        shortname: 'TID',
                        sort_order: 6,
                        active: true
                    },
                    {
                        meaning: 'QID - Four times a day',
                        intervalindays: 1,
                        shortname: 'QID',
                        active: false
                    },
                    {
                        meaning: 'QID',
                        intervalindays: 1,
                        shortname: 'QID',
                        sort_order: 7,
                        active: true
                    },
                    {
                        meaning: 'CON',
                        intervalindays: 1,
                        active: false
                    },
                    {
                        meaning: 'Q2H',
                        intervalindays: 1,
                        active: false
                    },
                    {
                        meaning: 'Q4H',
                        intervalindays: 1,
                        active: false
                    },
                    {
                        meaning: 'Q6H',
                        intervalindays: 1,
                        active: false
                    },
                    {
                        meaning: 'EOD - Every other Day',
                        intervalindays: 2,
                        sort_order: 8,
                        active: true
                    },
                    {
                        meaning: '1/w - One per Week',
                        intervalindays: 7,
                        sort_order: 10,
                        active: true
                    },
                    {
                        meaning: 'Once every six months',
                        intervalindays: 180,
                        active: false
                    },
                    {
                        meaning: 'Q1MO - Once a month',
                        intervalindays: 30,
                        active: false
                    },
                    {
                        meaning: 'E3D - Every Three Days',
                        intervalindays: 3,
                        sort_order: 9,
                        active: false
                    },
                    {
                        meaning: 'EOW - Every other Week',
                        intervalindays: 14,
                        sort_order: 11,
                        active: true
                    }
                ];

                console.log('pending inserts: ' + dataMap.length);
                LABKEY.Query.insertRows({
                    schemaName: 'ehr_lookups',
                    queryName: 'treatment_frequency',
                    rows: dataMap,
                    scope: this,
                    success: this.onSuccess,
                    failure: this.onError
                });
            },



            populateLookupSets: function () {
                this.pendingInserts++;

                //records for reports:
                var config = {
                    schemaName: 'ehr_lookups',
                    queryName: 'lookup_sets',
                    moduleResource: '/data/lookup_sets.tsv',
                    success: this.onSuccess,
                    failure: this.onError,
                    scope: this
                };

                var origSuccess = config.success;
                config.success = function (results, xhr, c) {
                    console.log('lookup set records inserted');

                    LABKEY.Ajax.request({
                        url: LABKEY.ActionURL.buildURL('admin', 'caches', '/'),
                        method: 'post',
                        params: {
                            clearCaches: 1
                        },
                        scope: this,
                        success: function () {
                            console.log('cleared caches');
                            origSuccess.call(config.scope, results, xhr, c);
                        },
                        failure: function () {
                            console.error(arguments);
                        }
                    });
                };

                importFile(config);
            },

            makeObject: function (config, data, fields) {
                Ext4.each(data, function (row) {
                    var record = {};
                    Ext4.each(fields, function (f, idx) {
                        record[f] = row[idx];
                    }, this);
                    config.rows.push(record);
                }, this);

                config.scope = config.scope || this;

                return config;
            },

            onSuccess: function (result, xhr, config) {
                if (result.exception || result.errors) {
                    // NOTE: importFile uses query/import.view which returns statusCode=200 for errors
                    this.onError.call(this, result, xhr, config);
                }
                else {
                    this.pendingInserts--;

                    var queryName = result.queryName || config.queryName || config.jsonData.queryName;
                    console.log('Success ' + (result.rowCount !== undefined ? result.rowCount + ' rows: ' : ': ') + queryName);

                    if (this.pendingInserts == 0) {
                        document.getElementById('msgbox').innerHTML += '<div>Populate Complete</div>';
                    }
                }
            },

            onError: function (result, xhr, config) {
                this.pendingInserts--;

                var queryName = result.queryName || config.queryName || config.jsonData.queryName;
                console.log('Error Loading Data: ' + queryName);
                console.log(result);

                document.getElementById('msgbox').innerHTML += '<div class="labkey-error">ERROR: ' + queryName + ': ' + result.exception + '</div>';

                if (this.pendingInserts == 0) {
                    document.getElementById('msgbox').innerHTML += '<div>Populate Complete</div>';
                }
            }
        });

        Ext4.create('SNPRC_EHR.panel.PopulateDataPanel').render(webpart.wrapperDivId);
    });

</script>