// rem (replace px - better support for accessibility)
// 62.5% puts us on base 10 system - 16*.625 = 10
html {
    font-size: 62.5%;
}

body {
    background: $dark-blue;
    font-family: helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor:default;
}
