@import "../../Shared/styles/style";
@import "../../Shared/styles/formatting/wizard";
@import "../../Shared/styles/formatting/panels";
@import "../../Shared/styles/components/shared";
@import "../../Shared/styles/components/infoPanel";
@import "../../Shared/styles/components/summaryGridPanel";


.right-panel {
    flex: 1;
    padding-left: 1rem;
    flex-direction: column;
    height: $m-panel;
    max-width: $m-panel-width;
}