
@import '../../styles/style.scss';

.header_title {
    color: $button-blue;
    text-shadow: 2px 2px $dark-gray;
    font-size: $font-size-xlarge;
    margin-left: 5rem;
  }
   
  .header_subtitle {
    color: #333745;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 5rem
  }

.spinner {
    color: $dark-blue;
    background-color: $off-white;
}

.page-wrapper {
    text-align: left;
}
.species-wrapper {
    background-color: $dark-blue;
    text-align: left;
    padding-bottom: 10rem;
    color: $dark-blue;
    font-family: helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

.species-radio-wrapper {
    padding-left: 3px;
    cursor: hand;
    background-color: $dark-blue;
    border-color: $dark-blue;
    border-width: 5px;
}
.species-dropdown {
    position: absolute;
    right: 30px;
    cursor: hand;
    color: $dark-blue;
    border-color: $dark-blue;
    border-width: 2px;
    font-size: 1.6rem;
    width: 60rem;
    height: 2.0rem;
}



.app-container {
    padding: 0px 20px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .select-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    margin-bottom: 10px;
  }
  
  .app-container {
    padding: 0px 20px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .select-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    margin-bottom: 10px;
  }
  