@import '../../styles/style.scss';

.header_title {
    color: $button-blue;
    text-shadow: 2px 2px $dark-gray;
    font-size: $font-size-xlarge;
    margin-left: 5rem;
  }
   
  .header_subtitle {
    color: #333745;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 5rem
  }

.spinner {
    color: $dark-blue;
    background-color: $off-white;
}


.species-wrapper {
    background-color: $dark-blue;
    text-align: left;
    padding-bottom: 10rem;
    color: $dark-blue;
    font-family: helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

.species-radio-wrapper {
    padding-left: 1rem;
    cursor: hand;
    background-color: $dark-blue;
    border-color: $dark-blue;
    border-width: 5px;
    background-color: $dark-gray;
}
.species-radio {
  padding-top: 1rem;
  background-color: $dark-blue;
  color: $off-white;
  font-size: 1.6rem;
  padding-left: 3rem;
}
.species-dropdown {
    border-color: $dark-blue;
    border-width: 2px;
    font-size: 1.6rem;
    width: 50rem;
    height: 2.0rem;
    padding-top: 1rem;
    padding-right: 1rem;
}
  
//======== Date Picker ===========

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 20rem;
    height: 3rem;
    border-radius: 5px;
}
.datepicker-label {
  margin-top: 1rem;
  border: 3px solid $dark-blue ;
  border-radius: 5px;
  position: relative;
  width: 25rem;
}
.datepicker-icon {
  position: relative;
  float: right;
  padding-right: 6px;
  margin-top: 2px;
  z-index: 2;
  margin-bottom: px;
}